<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-sintomas-heading" data-cy="SintomasCreateUpdateHeading" jhiTranslate="datasusBdApp.sintomas.home.createOrEditLabel">
        Create or edit a Sintomas
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('idSintomas')!.value == null">
          <label class="form-label" jhiTranslate="datasusBdApp.sintomas.idSintomas" for="field_idSintomas">Id Sintomas</label>
          <input
            type="number"
            class="form-control"
            name="idSintomas"
            id="field_idSintomas"
            data-cy="idSintomas"
            formControlName="idSintomas"
            [readonly]="true"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="datasusBdApp.sintomas.sintomas" for="field_sintomas">Sintomas</label>
          <input type="text" class="form-control" name="sintomas" id="field_sintomas" data-cy="sintomas" formControlName="sintomas" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
