<div>
  <h2 id="page-heading" data-cy="TesteHeading">
    <span jhiTranslate="datasusBdApp.teste.home.title">Testes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="datasusBdApp.teste.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-teste"
        [routerLink]="['/teste/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="datasusBdApp.teste.home.createLabel"> Create a new Teste </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="testes?.length === 0">
    <span jhiTranslate="datasusBdApp.teste.home.notFound">No testes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="testes && testes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="datasusBdApp.teste.dataTeste">Data Teste</span></th>
          <th scope="col"><span jhiTranslate="datasusBdApp.teste.resultado">Resultado</span></th>
          <th scope="col"><span jhiTranslate="datasusBdApp.teste.pessoa">Pessoa</span></th>
          <th scope="col"><span jhiTranslate="datasusBdApp.teste.municipio">Municipio</span></th>
          <th scope="col"><span jhiTranslate="datasusBdApp.teste.sintomas">Sintomas</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let teste of testes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/teste', teste.id, 'view']">{{ teste.id }}</a>
          </td>
          <td>{{ teste.dataTeste | formatMediumDate }}</td>
          <td>{{ teste.resultado }}</td>
          <td>
            <div *ngIf="teste.pessoa">
              <a [routerLink]="['/pessoa', teste.pessoa?.id, 'view']">{{ teste.pessoa?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="teste.municipio">
              <a [routerLink]="['/municipio', teste.municipio?.id, 'view']">{{ teste.municipio?.id }}</a>
            </div>
          </td>
          <td>
            <span *ngFor="let sintomas of teste.sintomas; let last = last">
              <a class="form-control-static" [routerLink]="['/sintomas', sintomas.id, 'view']">{{ sintomas.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/teste', teste.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/teste', teste.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(teste)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
