<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="mora">
      <h2 data-cy="moraDetailsHeading"><span jhiTranslate="datasusBdApp.mora.detail.title">Mora</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ mora.id }}</span>
        </dd>
        <dt><span jhiTranslate="datasusBdApp.mora.fkIdPessoa">Fk Id Pessoa</span></dt>
        <dd>
          <div *ngIf="mora.fkIdPessoa">
            <a [routerLink]="['/pessoa', mora.fkIdPessoa?.idPessoa, 'view']">{{ mora.fkIdPessoa?.idPessoa }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="datasusBdApp.mora.fkIdMunicipio">Fk Id Municipio</span></dt>
        <dd>
          <div *ngIf="mora.fkIdMunicipio">
            <a [routerLink]="['/municipio', mora.fkIdMunicipio?.idMunicipio, 'view']">{{ mora.fkIdMunicipio?.idMunicipio }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/mora', mora.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
