<div>
  <h2 id="page-heading" data-cy="UfHeading">
    <span jhiTranslate="datasusBdApp.uf.home.title">Ufs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="datasusBdApp.uf.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-uf"
        [routerLink]="['/uf/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="datasusBdApp.uf.home.createLabel"> Create a new Uf </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ufs?.length === 0">
    <span jhiTranslate="datasusBdApp.uf.home.notFound">No ufs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="ufs && ufs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="idUf"><span jhiTranslate="datasusBdApp.uf.idUf">Id Uf</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="codigoIbge">
            <span jhiTranslate="datasusBdApp.uf.codigoIbge">Codigo Ibge</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="estado"><span jhiTranslate="datasusBdApp.uf.estado">Estado</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="bandeira">
            <span jhiTranslate="datasusBdApp.uf.bandeira">Bandeira</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let uf of ufs; trackBy: trackIdUf" data-cy="entityTable">
          <td>
            <a [routerLink]="['/uf', uf.idUf, 'view']">{{ uf.idUf }}</a>
          </td>
          <td>{{ uf.codigoIbge }}</td>
          <td>{{ uf.estado }}</td>
          <td>
            <a *ngIf="uf.bandeira" (click)="openFile(uf.bandeira, uf.bandeiraContentType)" jhiTranslate="entity.action.open">open</a>
            <span *ngIf="uf.bandeira">{{ uf.bandeiraContentType }}, {{ byteSize(uf.bandeira) }}</span>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/uf', uf.idUf, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/uf', uf.idUf, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(uf)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="ufs && ufs.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
