<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-toma-heading" data-cy="TomaCreateUpdateHeading" jhiTranslate="datasusBdApp.toma.home.createOrEditLabel">
        Create or edit a Toma
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="datasusBdApp.toma.data" for="field_data">Data</label>
          <div class="input-group">
            <input
              id="field_data"
              data-cy="data"
              type="text"
              class="form-control"
              name="data"
              ngbDatepicker
              #dataDp="ngbDatepicker"
              formControlName="data"
            />
            <button type="button" class="btn btn-secondary" (click)="dataDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="datasusBdApp.toma.lote" for="field_lote">Lote</label>
          <input type="text" class="form-control" name="lote" id="field_lote" data-cy="lote" formControlName="lote" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="datasusBdApp.toma.dose" for="field_dose">Dose</label>
          <input type="number" class="form-control" name="dose" id="field_dose" data-cy="dose" formControlName="dose" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="datasusBdApp.toma.fkIdVacina" for="field_fkIdVacina">Fk Id Vacina</label>
          <select class="form-control" id="field_fkIdVacina" data-cy="fkIdVacina" name="fkIdVacina" formControlName="fkIdVacina">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                vacinaOption.idVacina === editForm.get('fkIdVacina')!.value?.idVacina ? editForm.get('fkIdVacina')!.value : vacinaOption
              "
              *ngFor="let vacinaOption of vacinasSharedCollection; trackBy: trackVacinaByIdVacina"
            >
              {{ vacinaOption.idVacina }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="datasusBdApp.toma.fkIdPessoa" for="field_fkIdPessoa">Fk Id Pessoa</label>
          <select class="form-control" id="field_fkIdPessoa" data-cy="fkIdPessoa" name="fkIdPessoa" formControlName="fkIdPessoa">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                pessoaOption.idPessoa === editForm.get('fkIdPessoa')!.value?.idPessoa ? editForm.get('fkIdPessoa')!.value : pessoaOption
              "
              *ngFor="let pessoaOption of pessoasSharedCollection; trackBy: trackPessoaByIdPessoa"
            >
              {{ pessoaOption.idPessoa }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
