<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-teste-heading" data-cy="TesteCreateUpdateHeading" jhiTranslate="datasusBdApp.teste.home.createOrEditLabel">
        Create or edit a Teste
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="datasusBdApp.teste.dataTeste" for="field_dataTeste">Data Teste</label>
          <div class="input-group">
            <input
              id="field_dataTeste"
              data-cy="dataTeste"
              type="text"
              class="form-control"
              name="dataTeste"
              ngbDatepicker
              #dataTesteDp="ngbDatepicker"
              formControlName="dataTeste"
            />
            <button type="button" class="btn btn-secondary" (click)="dataTesteDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="datasusBdApp.teste.resultado" for="field_resultado">Resultado</label>
          <input type="number" class="form-control" name="resultado" id="field_resultado" data-cy="resultado" formControlName="resultado" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="datasusBdApp.teste.pessoa" for="field_pessoa">Pessoa</label>
          <select class="form-control" id="field_pessoa" data-cy="pessoa" name="pessoa" formControlName="pessoa">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="pessoaOption.id === editForm.get('pessoa')!.value?.id ? editForm.get('pessoa')!.value : pessoaOption"
              *ngFor="let pessoaOption of pessoasSharedCollection; trackBy: trackPessoaById"
            >
              {{ pessoaOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="datasusBdApp.teste.municipio" for="field_municipio">Municipio</label>
          <select class="form-control" id="field_municipio" data-cy="municipio" name="municipio" formControlName="municipio">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="municipioOption.id === editForm.get('municipio')!.value?.id ? editForm.get('municipio')!.value : municipioOption"
              *ngFor="let municipioOption of municipiosSharedCollection; trackBy: trackMunicipioById"
            >
              {{ municipioOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="datasusBdApp.teste.sintomas" for="field_sintomas">Sintomas</label>
          <select class="form-control" id="field_sintomas" data-cy="sintomas" multiple name="sintomas" formControlName="sintomas">
            <option
              [ngValue]="getSelectedSintomas(sintomasOption, editForm.get('sintomas')!.value)"
              *ngFor="let sintomasOption of sintomasSharedCollection; trackBy: trackSintomasById"
            >
              {{ sintomasOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
